// Theme Style
@import "../css/bootstrap.css";
@import "../css/animate.min.css";
@import "../css/mmenu.css";
@import "../css/swiper-bundle.min.css";
@import "../css/magnific-popup.min.css";
@import "./app.scss";

// Font
@import "../font/fonts.css";

// Icons
@import "../icons/flat/flaticon_upskill.css";
@import "../icons/icomoon/style.css";
@import "./custom.scss";
