// Theme Style
@use "../css/bootstrap.css";
@use "../css/animate.min.css";
@use "../css/mmenu.css";
@use "../css/swiper-bundle.min.css";
@use "../css/magnific-popup.min.css";
@use "./app.scss";

// Font
@use "../font/fonts.css";

// Icons
@use "../icons/flat/flaticon_upskill.css";
@use "../icons/icomoon/style.css";
@use "./custom.scss";
