.animatedSigninBtn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid #000000;
  display: inline-block;
  overflow: hidden;
  background: #000000;
  box-shadow:
    inset 4px 4px 8px rgba(255, 255, 255, 0.1),
    inset -4px -4px 8px rgba(0, 0, 0, 0.5),
    2px 2px 8px rgba(0, 0, 0, 0.3),
    -2px -2px 8px rgba(255, 255, 255, 0.05);
  transition:
    box-shadow 0.3s ease,
    transform 0.1s ease;
}

.animatedSigninBtn span {
  font-family: 'Nasalization', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.5),
    -1px -1px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-out;
  z-index: 1;
  padding: 0px 1px;
  letter-spacing: normal;
}

.animatedSigninBtn span:nth-child(1) {
  transition-delay: 0ms;
}

.animatedSigninBtn span:nth-child(2) {
  transition-delay: 50ms;
}

.animatedSigninBtn span:nth-child(3) {
  transition-delay: 100ms;
}

.animatedSigninBtn span:nth-child(4) {
  transition-delay: 150ms;
}

.animatedSigninBtn span:nth-child(5) {
  transition-delay: 200ms;
}

.animatedSigninBtn span:nth-child(6) {
  transition-delay: 250ms;
}

.animatedSigninBtn span:nth-child(7) {
  transition-delay: 300ms;
}

.animatedSigninBtn span:nth-child(8) {
  transition-delay: 350ms;
}

.animatedSigninBtn span:nth-child(9) {
  transition-delay: 400ms;
}

.animatedSigninBtn:hover span {
  color: #f5f5f5;
}

.animatedSigninBtn:active span {
  color: #ffffff;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.6),
    -1px -1px 2px rgba(255, 255, 255, 0.15);
}

.animatedSigninBtn span:hover {
  transform: translateY(-7px);
}

.animatedSigninBtn:active {
  box-shadow:
    inset 2px 2px 4px rgba(0, 0, 0, 0.6),
    inset -2px -2px 4px rgba(255, 255, 255, 0.1);
  transform: scale(0.98);
}
